{{ range first 1 ( where .Site.RegularPages.ByDate.Reverse "Section" "ne" "pages") }}
<div class="feature-block-item-wrapper" itemscope="" itemtype="https://schema.org/Guide">
    <a class="article-link" href="{{.Permalink}}" aria-label="{{.Title}}"
        title="{{.Title}}">
        <figure class="feature-block-item __first" data-original="{{.Params.featured_Image | absURL }}" itemscope=""
            itemtype="https://schema.org/ImageObject">
            <img src="{{ .Params.featured_Image | absURL }}" data-src="{{ .Params.featured_Image | absURL }}" alt="{{.Title}}" itemprop="image" width="970" height="572">
            <link itemprop="url" href="{{.Params.featured_Image | absURL }}">
            <meta itemprop="height" content="680">
            <meta itemprop="width" content="1200">
            <figcaption>
                <h1 itemprop="caption name" class="article-name">{{.Title}}</h1>
                {{- if .Site.Data.authors -}}
                {{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
                <meta itemprop="author" content="{{ $author.name }}">
                <meta itemprop="dateCreated" content="{{$.Params.updateDate}}">
                {{- end -}}
                <p class="byline">
                    {{ if .Params.author }}
                    {{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
                    <span class="by-author">
                        By
                        <span style="white-space: nowrap;"> {{$author.name}} </span>
                    </span>
                    {{ end }}
                    <time class="published-date relative-date"
                        datetime="{{.Date}}"
                        data-published-date="{{.Date}}">
                        - Updated: <time class="entry__meta-date flex flex-row items-center  f7 "
                            title="{{.Params.updateDate}}">
                            {{ if .Params.updateDate }}
                                {{dateFormat "January 2, 2006" .Params.updateDate}}
                            {{ else }}
                                {{dateFormat "January 2, 2006" .Date}}
                            {{ end }}
                        </time>
                    </time>
                    <p class="byline">  {{ .Summary | truncate 180}}
                    </p>
                 </p>
            </figcaption>
        </figure>
    </a>
</div>
{{ end }}